footer.footer(data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease")#anchor5
    .container
        .footer-flex
            .footer-flex_col_left
                h2 Контакты
                .footer-flex-grid
                    .footer-flex-grid__item
                        h4 Пишите нам:
                        a(href="mailto: index@office.com") index@office.com
                    .footer-flex-grid__item
                        h4 Звоните нам:
                        a(href="tel: +996 (0770) 599-599") +996 (0770) 599-599
                    .footer-flex-grid__item
                        h4 Адрес:
                        a(href="maps.google.com/?ll=38.882147,-76.99017" target='_blank') г. Бишкек ул. Токтогула, 216
                .footer-flex-grid.mt-64
                    .footer-flex-grid__item
                        a(href="")
                            .icon(style="background-image: url(img/social/telegram.svg);")
                            | Telegram
                    .footer-flex-grid__item
                        a(href="")
                            .icon(style="background-image: url(img/social/WhatsApp.svg);")
                            | Whatsapp
                    .footer-flex-grid__item
                        span Скачать приложение
                        a.google(href='' style='background-image: url(img/social/play_store.svg);')
                        a.apple(href='' style='background-image: url(img/social/apple_store.svg);')
                .line
                .social
                    a(href="" style='background-image: url(img/social/fb-1.svg);')
                    a(href="" style='background-image: url(img/social/vk-1.svg);')
                    a(href="" style='background-image: url(img/social/it-1.svg);')
                .copyright
                    a(href="") Политика конфиденциальности
                    a(href="") Передача персональных
                    .text © INDEX - 2020

            .footer-flex_col_right
                h2 Обратная связь
                form(action="")
                    .form-control
                        input(type="text" placeholder="Имя")
                    .form-control
                        input(type="text" placeholder="Телефон")
                    .form-control
                        textarea(placeholder="Комментарий" rows="5")
                    label
                        input(type="checkbox").checkbox
                        span Отправляя заявку, вы принимаете Соглашение об обработке персональных данных
                    button(type="submit") Отправить
