header.header
    .container
        .header__flex
            .logo
                a(href="")
                    img(src="img/logo.svg")
            .lang.dropToggle
                .ru.item
                .drop.dropToggleContent
                    a(href="").en.item
                    a(href="").kg.item
            nav
                ul
                    li
                        a(href="#anchor1").scrollLink Главная
                    li
                        a(href="#anchor2").scrollLink О компании
                    li
                        a(href="#anchor3").scrollLink Услуги
                    li
                        a(href="#anchor4").scrollLink Офисы
                    li
                        a(href="#anchor5").scrollLink Контакты
            .shop-links
                a(href="" style="background-image: url(img/social/play_store.svg);").google
                a(href="" style="background-image: url(img/social/apple_store.svg);").apple
            .social
                a(href="" style="background-image: url(img/social/facebook.svg);")
                a(href="" style="background-image: url(img/social/instagram.svg);")
                a(href="" style="background-image: url(img/social/telegram.svg);")
                a(href="" style="background-image: url(img/social/WhatsApp.svg);")
            a(href="#").feedback Обратная связь
            .menu-wrapper
                .hamburger-menu

    .hamburger-menu-dropdown
        .lang
            a(href="").ru.item.active
            a(href="").en.item
            a(href="").kg.item
        nav
            ul
                li
                    a(href="#anchor1").scrollLink Главная
                li
                    a(href="#anchor2").scrollLink О компании
                li
                    a(href="#anchor3").scrollLink Услуги
                li
                    a(href="#anchor4").scrollLink Офисы
                li
                    a(href="#anchor5").scrollLink Контакты
        .shop-links
            a(href="" style="background-image: url(img/social/play_store.svg);").google
            a(href="" style="background-image: url(img/social/apple_store.svg);").apple
        .social
            a(href="" style="background-image: url(img/social/facebook.svg);")
            a(href="" style="background-image: url(img/social/instagram.svg);")
            a(href="" style="background-image: url(img/social/telegram.svg);")
            a(href="" style="background-image: url(img/social/WhatsApp.svg);")
        a(href="#").feedback Обратная связь